.montheme-background {
  background-color: #c5dffc;
}
.montheme-titre {
  font-size: 2em;
}
.montheme-menu-class {
  font-size: 1.25rem; /* Taille x1.25 */
  text-transform: uppercase; /* Tout passer en majuscule */
  text-align: center; /* Alignement au centre */
}
.montheme-menu-class ul {
  list-style: none; /*Enlever les points de la liste*/
}
